<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login form</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <style>
            .card {
                width: 50%;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center align-content-center pt-5 pb-5">
                    <div class="card">
                        <h1 style="text-align: center">Sign in</h1>
                        <div class="card-body">
                            <form action="{% url 'login' %}" method="post">
                                {% if error %}
                                    <p class="alert-danger">
                                        <strong>Oops!</strong> You have entered invalid credentials.
                                    </p>
                                {% endif %}
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        {% for f in form %}
                                            <div class="form-group">
                                                {{ f.label }}
                                                {{ f }}
                                                <div id="{{ f.auto_id|capfirst }}" class="alert-danger"></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <input id="button" type="submit" value="Sign in" class="col-12 btn btn-primary">
                            </form>
                            <br>
                            <p>Don't have an account? <a href="{% url "register" %}">Create one</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>