<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register form</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <style>
            .card {
                width: 50%;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center align-content-center pt-5 pb-5">
                    <div class="card">
                        <div class="card-body">
                            <form action="{% url 'register' %}" method="post">
                                <h2 class="justify-content-center align-content-center">Sign up</h2>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        {% for f in form %}
                                            <div class="form-group">
                                                {{ f.label }}
                                                {{ f }}
                                                <div id="{{ f.auto_id|capfirst }}" class="alert-danger"></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <input id="button" type="submit" value="Sign up" class="col-12 btn btn-primary">
                            </form>
                            <br>
                            <p>Have an account? <a href="{% url "login" %}">Sign in</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>